.page {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 100vh;
  margin-left: calc(25% - 20px);
  padding: 0px 10px;
  align-items: center;
  gap: 10px;
  background-color: #536486;
  text-align: center;
}

.searchInput {
  margin-top: 10px;
  width: 70%;
  padding: 12px;
  border-radius: 10px;
}
